<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <!--文件以那种方式变换文件名：data日期/Size大小/Composite同时按照日期和大小-->
    <!--  <rollingStyle value="Size" />
    <file value="App_Data/Logs/log.txt" />
     <staticLogFileName value="true" />
    -->
    <file value="App_Data/Logs/" />
    <rollingStyle value="Composite" />
    <datePattern value="&quot;log_&quot;yyyyMMdd&quot;.log&quot;"/>
    <staticLogFileName value="false" />
  
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="RollingFileAppender" />
    <level value="DEBUG" />
  </root>
</log4net>
