<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <!--时间戳默认过期时间,按分钟-->
    <add key="TimeStampExpires" value="10080" />
    <!--端口访问地址-->
    <add key="PatientIp" value="http://192.168.2.3:5000/" />
    <add key="DoctorIp" value="http://192.168.2.3:5001/" />
    <add key="AdminIp" value="http://192.168.2.3:5002/" />
    <add key="WecharWeb" value="http://192.168.2.3:3030/#/" />
    <!--默认密码-->
    <add key="DefaultPassword" value="e10adc3949ba59abbe56e057f20f883e" />
    <!--与微信公众账号后台的Token设置保持一致，区分大小写-->
    <add key="WXToken" value="Q9K015NYU6ANXXTJ" />
    <!--微信获取token地址-->
    <add key="WXAccessTokenUrl" value="admin.integraltel.com" />
    
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
