<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="Content-Type, api_key, Authorization,X_Requested_With" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.webServer>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="20480000"></requestLimits>
          </requestFiltering>
        </security>
    </system.webServer>
    <appSettings file="" />
    <system.web>
        <httpRuntime maxRequestLength="20480000" />
    </system.web>
</configuration>
