<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <!--时间戳默认过期时间,按分钟-->
    <add key="TimeStampExpires" value="10080" />
    <!--端口访问地址-->
    <add key="PatientIp" value="http://192.168.2.3:5000/" />
    <add key="DoctorIp" value="http://192.168.2.3:5001/" />
    <add key="AdminIp" value="http://192.168.2.3:5002/" />
    <add key="WecharWeb" value="http://192.168.2.3:3030/#/" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>